body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    color: black;
}

.centro{
    text-align: center;
}

.direita{
    text-align: right;
}

.esquerda{
    text-align: left;
}
.justificar{
    text-align: justify;
}